.contactWrapper {
  padding: 15px;
  min-width: 250px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: left;
}

.contactInfoWrapper {
  width: 100%;
}

.userIcon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.phoneIcon {
  width: 16px;
  height: 16px;
   margin-right: 5px;
}

.text{
    margin-bottom: 5px;
    font-weight: 500;
}
