.form{
       display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 0;
    width: 250px;
    margin-bottom: 10px;
}

.field{
    width: 100%;
    margin-bottom: 10px;
}

.formBtn{
    margin: 0 auto;
}
.label{
    font-size: 13px;
    font-weight: 400;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
}