*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

li {
  margin: 0;
}

/* button {
  border: none;
  cursor: pointer;
  background: none;
} */

/* input, textarea, select {
  border: none;
  outline: none;
  font: inherit;
} */

table {
  border-collapse: collapse;
}
