.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  margin: 18px 0 0;
  padding: 0;
  list-style: none;
}


.item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  
}